h1 {
  color: red;
  border: 
    4mm
    ridge
    rgba(211, 220, 50, 0.6);
}

.list-intro {
  color: green;
}
  
em {
  color: orange;
}

li em {
  color: yellow;
  font-weight: bold;
}

footer:hover {
  color: orange;
}
